<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ base_url() }}/css/_base.css">
    <title>{% block pagetitle %}{% endblock %}</title>
</head>
<body>
<header>
    {% include 'user/templates/partials/__navbar.twig' %}
</header>

<main class="mt-5 pt-5">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {% include 'user/templates/partials/__sidenav.twig' %}
            </div>
            <div class="col-sm-8">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/mdb.js"></script>
</body>
</html>