{% extends 'templates/__front_layout.twig' %}
{% block content %}

        <div class="alert alert-success">
            {% if flash.success %}
                {% for success in flash.success %}
                     <p>{{ success }}</p>
                {% endfor %}
            {%endif%}
        </div>
{% endblock %}
