<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <a href="{{ path_for('category') }}">Vos catégories</a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a href="{{ path_for('posts.index') }}">Vos articles</a>
    </li>
    <li class="list-group-item list-group-item-action">Vos informations personnelles</li>
</ul>